<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
        <link rel="stylesheet" type="text/css" href="/css/formCss.css"/>
        <title>CalcForm</title>
    </head>

    <body>

    <header>
        <h1>intelligent calculator</h1>
    </header>

        <form method="post">


            <input type="text" name="number_A"><p2>number_A</p2></input>
            <p>select action</p>
            <input type="radio" name="count" value="add" checked ><p2>add</p2></input>
            <input type="radio" name="count" value="subtract" ><p2>subtract</p2></input>
            <input type="radio" name="count" value="multiply" ><p2>multiply</p2></input>
            <input type="radio" name="count" value="divide" ><p2>divide</p2></input><br>

            <input type="text" name="number_B"><p2>number_B</p2></input><br>

            <button type="submit"><p3>C O U N T  R E S U L T</p3>  </button>

        </form>

    <footer></footer>

    </body>


</html>
