<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
    <title>HelloForm</title>
</head>
    <body>

        <form method="post">

            <input type="text" name="number_A">number_A<br></input><br>
            <input type="text" name="number_B">number_B<br></input><br>

            <p>Select a dizalaenie :</p>
            <input type="radio" name="Dodaj" >Dodaj</input>
            <input type="radio" name="Odejmij" >Odejmij</input>
            <input type="radio" name="Pomnoz" >Pomnoz</input>
            <input type="radio" name="Podziel" >Podziel</input><br>

            <button type="submit"> Count !</button>

        </form>

    </body>


</html>
